@media (min-width: 576px) { 
  body{
  background-color: red; 
  }
}

@media (min-width: 768px) { 
  #cabecera_pc, #cabecera_pc nav, #cabecera_pc ul {
    display: inline-flex !important;
  }
  .cabecera_celular{
    display: none;
  }

  #footer_cell {
    display: none;
  }
}

@media (min-width: 992px) { 
  body{  
    background-color: blue; 
  }
}

@media (min-width: 1200px) { 
}

/* Header para computador */
.logo_cabecera_pc{
  margin-left: 0.5em
}

#cabecera_pc li{
  list-style: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 18px;
  font-size: 1.5em;
}

#cabecera_pc li:hover{
  color: grey
}

#cabecera_pc{
  width: 100%;
  display: none;
  justify-content: center;
  padding: 1em;
  background-color: #fc9d5b;
  font-family: 'Permanent Marker', cursive;
}

#cabecera ul{
  display: inline-flex;
  text-align: center;
}

#cabecera_pc nav{
  justify-content: center;
  display: inline-flex;
}

/*Header para celular*/

.cabecera_celular{
  margin-top: 3.3em;
  width: 100%;
  text-align: center;
}

/*Footer para celular*/

#footer_cell{
  border-top: 4px solid #fc6404;
  font-family: 'Permanent Marker', cursive;
  position: fixed;
  bottom: 0;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #fc6404;
  margin-bottom: 1em;
}

.footer_nav_cell li:hover{
  color: #fcddc6;
}

.footer_nav_cell ul{
  display: inline-flex;
  text-align: center;
  padding-left: 0;
  padding-top: 0.5em;
}

.footer_nav_cell ul li{
  list-style: none;
  margin: 0.5em;
}